langchain
langchain-community
langchain-mistralai
langgraph-checkpoint-postgres
langchain-openai
langchain-deepseek
langgraph
arxiv
docker
unstructured
markdown
uvloop
crawl4ai
maturin
marker-pdf[full]
pymupdf4llm
fastapi[standard]
jwt
passlib